
body {
  background-color: lightcyan;
}

h1 {
  color: darkblue;
}

img{
<<<<<<< HEAD
  min-width: 300px;
=======
>>>>>>> 393ac13 (Adding changes for sprint 1)
  height:200px;
  border:10px solid black;
  border-radius:20px;
  vertical-align: top;
}

figcaption{
  
  color:black;
  font-style: italic;
  font-size: 30px;
}