
body {
  background-color: linen;
}

h1 {
  color: navy;
}


img{
<<<<<<< HEAD
  max-width: 300px;
  min-height: 200px;
  border: 5px solid black;
=======
  border:5px solid black;
  border-spacing: 4px;
  min-width: 300px;
  max-width: 300px;
  max-height:200px;
  min-height: 200px;
>>>>>>> 393ac13 (Adding changes for sprint 1)
  border-radius:20px;
}

